.text-secondary {
  color: rgb(144, 144, 144) !important;
}

.fs-5 {
  font-size: 0.9rem !important;
}

.fs-6 {
  font-size: 0.7rem !important;
}

.fs-7 {
  font-size: 0.5rem !important;
}

.dropdown-toggle:focus-within,
.dropdown-toggle:active,
.dropdown-toggle:hover {
  background: transparent !important;
  outline: none;
  color: white;
}

.dropdown-menu {
  background-color: #212529 !important;
  border: none !important;
}

.dropdown:focus-within .dropdown-menu {
  background-color: #212529 !important;
}

p {
  margin-bottom: 0.5rem;
}

a:hover {
  color: red !important;
  background: transparent !important;
}

.rounded-1 {
  border-radius: 2px !important;
}
